.location-and-levels {
    padding: 20px;
  }
  
  .tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 15px;
    border: none;
    background-color:var(--cloud-white);
    cursor: pointer;
    margin-right: 5px;
  }
  
  .tabs button.active {
    background-color:var(--cloud-white);
  }
  
  .tab-content {
    border: 1px solid var(--civic-gray-200);
    padding: 20px;
  }
  
  /* .government-structure {
   
  }
   */
  .government-levels {
    margin-top: 20px;
  }
  
  .level {
    margin-bottom: 10px;
  }